.footer_class a {
    animation: color 1s;
    color: #c7c6c6;
    transition: 0.2s;
}

.footer_class a:hover {
    text-decoration: underline;

}

.address_box:hover {
    border-color: #fff;
    transition: 0.5s ease-in-out;
}

.address_box p {
    text-decoration: none !important;
}