/* Basic styles for the navbar */
.navbar {
  background-color: #000
    /* overflow: hidden; */
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menuItem {
  position: relative;
}


.menuItem>a:hover {}

/* Mega menu styles */
.megaMenu {
  position: absolute;
  top: calc(100% + 0px);
  /* background-color: white; */
  /* width: 100%; */
  display: flex;
  box-shadow: none;
  z-index: 1000;
  width: calc(100vw - 20px);
  padding-top: 10px;
}

.megaMenuInside {
  background-color: #fff;
}

.megaMenuContent {
  display: flex;
}

.column {
  margin-right: 20px;
}

.column h3 {
  margin-top: 0;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 10px;
}

.column ul li a {
  color: #000;
  text-decoration: none;
}

.column ul li a:hover {
  text-decoration: underline;
}


.Main_btn {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;

}

.Main_btn div {
  position: relative;
}

.Main_btn div::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  /* Change this to your desired color */
  transition: width 0.3s ease-in-out;
}

.Main_btn:hover div::before {
  width: 100%;
}


.Main_btn:hover {
  color: #fff;
}

.container_menu {
  padding: 20px 50px;
  gap: 40px;
  background-color: #fff;
}
.image_box{
  display: flex;
  column-gap: 20px;
}